<!DOCTYPE html>
<html>

<head>
    <title>FedEx Authorization Form</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="container jumbotron">

    <img class="float-left" src="public/imagens/FedEx.jpg" alt="FedEx"></img>
    <img class="float-right" src="public/imagens/logo.jpg" width="200" height="124" alt="The British School"></img>

    <div class="text-center">
        <h2 class="font-weight-light"><b>FEDEX AUTHORIZATION FORM</b></h2><br><br><br>
    </div>

    <div class="container row">

        <div class="container">
            <label for="lastId">
                <h5><i><b> NUMBER:</b></i></h5>
            </label>
            <input type="number" readonly class="form-control" style="font-size: larger;  " id="lastId" name="lastId" value={{lastId}}>
        </div>

        <br>
        <div class="container">
            <label for="date">
                <h5><i><b>DATE:</b></i></h5>
            </label>
            <input type="datetime" readonly class="form-control" style="font-size: larger" id="date" name="date" value={{fedexForm.date}}>
        </div>

        <br>
        <div class="container">
            <label for="departament">
                <h5><i><b>DEPARTAMENT:</b></i></h5>
            </label>
            <input type="text" readonly class="form-control" style="font-size: larger" id="departament" name="departament" value={{fedexForm.departamento}}>
        </div>

        <br>
        <div class="container">
            <label for="unit">
                <h5><i><b>UNIT:</b></i></h5>
            </label>
            <input type="text" readonly class="form-control" style="font-size: larger" id="unit" name="unit" value={{fedexForm.unidade}}>
        </div>

        <br>
        <div class="container">
            <label for="budget">
                <h5><i><b>BUDGET:</b></i></h5>
            </label>
            <input type="text" readonly class="form-control" style="font-size: larger" id="budget" name="budget" value={{fedexForm.budget}}>
        </div>

        <br>
        <div class="container ">
            <label for="sendersName">
                <h5><i><b>SENDER'S NAME:</b></i></h5>
            </label>
            <input type="text" readonly class="form-control" style="font-size: larger" id="sendersName" name="sendersName" value={{fedexForm.sendes_name}}>
        </div>

        <br>
        <div class="container ">
            <label for="authorizationSignature ">
                <h5><i><b>AUTHORIZATION SIGNATURE:</b></i></h5>
            </label>
            <input type="text " readonly class="form-control" style="font-size: larger" id="authorizationSignature" name="authorizationSignature"
                value={{fedexForm.autorizacao_assinatura}}>
        </div>

        <br>
        <div class="container ">
            <label for="descriptionOfItem ">
                <h5><i><b>DESCRIPTION OF ITEM:</b></i></h5>
            </label>
            <input type="text" readonly class="form-control" style="font-size: larger" rows="3" id="descriptionOfItem" name="descriptionOfItem"
                value={{fedexForm.descricao}}>

        </div>
    </div>

    <br>
    <div class="text-center">
        <a href="javascript:window.print()">
            <img src="public/imagens/imprimir.png ">Imprimir
            </img>
        </a>
    </div>

</body>

</html>